@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    background-color: #000000;
    color: #EEEDFF;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #1e1c36;
    color: #ffffff;
    width: 100%;
    height: 45px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav > ul {
    display: flex;
      justify-content: space-evenly;
    flex-wrap: wrap;
      align-items: center;
      height: 100%;
  }
  
  nav > ul > li {
    display: block;
    color: #efefff;
    margin: auto;
      padding: 0 15px;
  
  }
  
  li > a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  
  li > a:hover {
    color: #3295a8;
  }
  
  main {
    padding-top: 50px;
  }
  
  h1 {
    color: #fff7d9;
    text-align: center;
  }
  
  .scale {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  #footer-container {
    height: auto;
    overflow: hidden;
  }
  
  .buddy {
    margin: 0 0 -50px 0;
    bottom: 0;
    left: 0;
    height: 20%;
    z-index: 0;
  
  }
  
  #footer-strip {
    background-color: #1d1a29;
    color: #ffffff;
    width: 100%;
    height: 45px;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 
      -1px -1px 0 #000, 
      1px -1px 0 #000, 
      -1px 1px 0 #000, 
      1px 1px 0 #000;
  }
  
  footer a {
    color: #daebed;
    font-weight: bold;
    text-decoration: none;
  }
  
  footer a:visited {
    color: #ffffff;
  }
  
  footer a:hover {
    color: #3295a8;
  }