@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  padding: 0;
}

body {
  background-color: #000000;
  color: #EEEDFF;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #1e1c36;
  color: #ffffff;
  width: 100%;
  min-height: 45px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width:875px) {
  header {
      flex-direction: column;
      flex-wrap: wrap;
      min-height: 80px;
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
	justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width:875px) {
  nav > ul {
      margin: 0;
      padding: 5px;
      flex-direction: column;
      text-align: center; 
  }
}

nav > ul > li {
  list-style: none;
  padding: 0 25px 0;
  color: #efefff;
  margin: 0 auto;

}

@media screen and (max-width:875px) {
  nav > ul > li {
    margin: 5px 0;
    vertical-align: middle;
    font-size: 12px;
  }
}

li > a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

li > a:hover {
  color: #3295a8;
}

main {
  padding-top: 50px;
}

@media screen and (max-width:875px) {
  main {
    padding-top: 135px;
  }
}

#container {
  display: block;
  margin: 0 auto;
  padding: 0 5% 0 5%;
  width: 90%;
  max-width: 625px;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

@media screen and (max-width:875px) {
  h1 {
    font-size: 1.5rem;
  }
}

h1, h2, h3 {
  color: #fff7d9;
}

p {
  line-height: 1.5;
}

img {
  display: block;
}

.padded {
  padding: 35px 0 0 0;
}

.scale {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.wscale {
  margin: 0 auto;
  max-width: 60%;
  height: auto;
}

.border {
  border: thin solid rgb(255, 247, 217, 0.25);
}

.divider {
  margin: 45px 0;
  border: 0;
  height: 1px;
  border-bottom: 10px dotted rgb(47, 39, 79, 0.95);;
}

@media screen and (max-width:875px) {
  .divider {
    margin: 35px 0;
  }
}

iframe {
  margin: 0px auto;
  padding-top: 5px;
  align-items: center;
  text-align: center;
  display: block;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5px;
  text-align: center;
  margin: 15px 0;
}

@media screen and (min-width:876px) {
  .large-graph {
    display: block; 
  }

  .small-graph {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  #graph1, #graph2, #graph3 {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width:875px) {
  .large-graph {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .small-graph {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  #graph1, #graph2, #graph3 {
    margin: -20px 0 0 0;
  }
}

table {
  width: 100%;
}

table, th, tr, td {
  border-collapse: collapse;
  border: 1px solid rgb(255, 247, 217, 0.25);
  text-align: center;
  padding: 5px;
}

th {
  font-weight: bold;
}

.center {
  text-align: center;
}

.moments {
  margin: 25px 0;
  line-height: 120%;
}

@media screen and (max-width:875px) {
  .moments {
    margin: 25px 25px;
    line-height: 150%;
  }
}

@media screen and (max-width:875px) {
  .modern-love {
    display: block;
    max-width: 100%;
    height: auto; 
  }
}

.yellow {
  color: #fff7d9;
  font-size: 10px;
}

.teal {
  color: #3295a8;
  font-size: 10px;
}

#footer-container {
  margin: -30px 0 0 0;
  height: auto;
  overflow: hidden;
}

.buddy {
  margin: 0 0 -100px 0;
  bottom: 0;
  left: 0;
  max-height: 200px;
  width: auto;
  z-index: 0;
}

#footer-strip {
  background-color: #1d1a29;
  color: #ffffff;
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

footer a {
  color: #daebed;
  font-weight: bold;
  text-decoration: none;
}

footer a:visited {
  color: #ffffff;
}

footer a:hover {
  color: #3295a8;
}