* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    min-height: 70px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: blanchedalmond;
}

#header-img {
    height: 70px;
    width: auto;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: first baseline;
}

.logo {
    font-size: 1.5rem;
    margin-left: 10px;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#nav-bar li {
    list-style: none;
    padding: 0 25px 0;
}

#wrapper {
    padding-top: 150px;
    max-width: 750px;
    margin: 0 auto;
}